<!DOCTYPE html>
<html>
<link rel="stylesheet" href="style.css">
   <style>
       header {
    background-image: url("Images/atombeta1.png"); left:50%; background-size: 15% auto;
       background-repeat: no-repeat;}
   </style>
<header>
<title class="title2">Загрузка файлов MP3</title>
    <h1 class="title1">   Аудиоконвертер Атом</h1>
    <nav class="menu">
  <ul>
    <li><a class="link1" href="Login.html"> Вход</a></li>
    <li><a class="link2"  href="Registration.en.html"> Регистрация</a></li>
    <li><a class="link3" href="Index.html">Загрузка MP3</a></li>
  </ul>
</nav>
</header>

<head>
    <a href="" download="" title="Txt file">
	<button>Скачать</button>
</a>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>