<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../../static/css/style.css">
<head>
    <meta charset="UTF-8">
    <title>Audioconverter. Login</title>
</head>
<body>
<h1>Login</h1>
<div id="wrapper">
	<form id="signin" method="" action="" autocomplete="off">
		<input type="text" id="user" name="user" placeholder="username (mail address)" />
		<input type="password" id="pass" name="pass" placeholder="password" />
		<button type="submit">&#xf0da;</button>
		<p>Forgot your password? <a href="#">Click here</a></p>
	</form>
    </div>
<p><a href="Login.html">Русская версия </a></p>
<a> <img src="../../static/Images/atombeta.png""
     />
</a>

</body>
</html>