<!DOCTYPE html>
<html>
<link rel="stylesheet" href="../../static/css/style.css">
<title class="title2">Атом.Регистрация</title>
<header>
    <h1 class="title1">Аудиоконвертер Атом</h1>
    <nav class="menu">
  <ul>
    <li><a href="Login.html"> Login</a></li>
    <li><a href="Registration.en.html"> Registration</a></li>
    <li><a href="Index.html">Download</a></li>
  </ul>
</nav>
</header>
<head>
    <meta charset="UTF-8">
</head>
<body>

	<a><!-- main -->
	<div class="main-w3layouts wrapper">
		<h1 class="please">Пожалуйста, зарегестрируйтесь</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="#" method="post">
					<input class="text" type="text" name="Username" placeholder="Имя пользователя" required="">
					<input class="text email" type="email" name="email" placeholder="Почта" required="">
					<input class="text" type="password" name="password" minlength="8" maxlength="30" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*" placeholder="Пароль" required="">
					<input class="text w3lpass" type="password" name="password" placeholder="Подтвердить пароль" required="">
					<div class="wthree-text">
						<div class="clear"> </div>
					</div>
					<input type="submit" value="Отправить">
				</form>
				<p>Уже есть аккаунт? <a href="Login.en.html"> Войти</a></p>
			</div>
		</div>
    </div>
        </a>
		<ul class="colorlib-bubbles">
		</ul>
	</div>
    <p><a href="Registration.en.html"> English version </a></p>

    <!-- //main -->
</body>
<a> <img src="../../static/Images/atombeta.png"
     />
</a>

</html>